<h2>Book List</h2>

<% if (books && books.length > 0) { %>
    <table>
        <thead>
            <tr>
                <th>Cover</th>
                <th>Title</th>
                <th>Author(s)</th>
                <th>Year</th>
                <th>Available</th>
            </tr>
        </thead>
        <tbody>
            <% books.forEach(book => { %>
                <tr>
                    <td><img class="book-cover" src="<%= book.image_url %>" alt="<%= book.title %>"></td>
                    <td><b><%= book.title %></b></td>
                    <td><%= book.authors %></td>
                    <td><%= book.publication_year %></td>
                    <td><%= book.available_copies %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
<% } else { %>
    <p>No books found in the library.</p>
<% } %>

<button type="button" class="btn btn-success">Available</button>
<button type="button" class="btn btn-danger">Unavailable</button>