<h2 class="list-head">Book List</h2>

<% if (books && books.length > 0) { %>
<table class="table">
  <tbody>
    <% books.forEach(book => { %>
    <tr>
      <td>
        <img
          src="<%= book.image_url %>"
          alt="<%= book.title %>"
          width="88"
          height="110"
        />
      </td>
      <td>
        <a href="/books/<%= book.id %>"><b><%= book.title %></b></a> <br />
        <%= book.authors %> <br />
        <%= book.publication_year %>
        <br />
        <% if (book.available_copies > 0) { %>
            <span class="available">Available</span>
        <% } else { %>
            <span class="unavailable">Unavailable</span>
        <% } %>
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>
<% } else { %>
<p class="no-books"><b>No books found in the library.</b></p>
<% } %>
